# binary c++ test file
*
!/**/
!*.*
*.exe
*.dll
*.o

# library file 
*.class
*.log

#private file
testboard.cpp
testboard2.cpp
Template.cpp
reference.md
temprecord.md
*.out
# vscode debug setting
goorm.manifest
.vs/
.vscode/
desktop.ini